<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <%- include('./partials/header.ejs') %>
        <h1>Blogs</h1>
        <ul>
            <% for(let i=0; i<blogs.length; i++){ %>
                <li>
                    <a href="/blog/<%= blogs[i].id %>" class="blog-link">
                        <span hidden="true">
                            <%= blogs[i].id %>
                        </span>
                        <div class="blog-preview-div">
                            <h3>
                                <%= blogs[i].title %>
                            </h3>
                            <p>
                                <%= blogs[i].preview %> ...
                            </p>
                        </div>
                    </a>
                </li>
                <% } %>
        </ul>

        <script src="../index.js"></script>
</body>

</html>